@model RoomListModel<Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Список номеров</h1>

<div class="col-2 border-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @ViewBag.CurrentCategory
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="Room"
                       asp-route-category="@null">Все</a>
                </li>
                @foreach (var item in ViewBag.Categories)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-controller="Room"
                           asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
<div id="room-list-container">
    @await Html.PartialAsync("_RoomList", Model)
</div>
